body {
  padding-top: 70px;
}

.navbar a{
	color: white;
}

.cart-block{
	background: #333;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

.panel-list a{
	display: block;
	color: #666;
}

.panel-list .panel-padding h3{
	padding: 4px;
	font-size: 18px;
}

.panel-heading-green{
	background: #3b7e14 !important;
	color: #fff !important;
}

.panel-heading-dark{
	background: #333 !important;
	color: #fff !important;
}

.game{
	display: relative;
}

.game-title{
	text-align: center;
	padding: 5px;
	background: #333;
	color: #fff;
}

.game img{
	width: 100%;
}

.game-price{
	position: absolute;
	bottom: 140px;
	right: 15px;
	background: #3b7e14;
	color: #fff;
	padding: 5px;
	font-size: 22px;
}

.game-add{
	margin: 5px auto 20px auto;
	width: 100%;
	text-align: center;
}

.detail-price{
	font-size: 25px;
	margin-bottom: 20px;
}

.detail img{
	width: 100%;
}

.footer{
	background: #333;
	color: #fff;
	height: 70px;
	text-align: center;
	padding: 20px;
}

.qty{
	width: 40px;
	color: #666 !important;
	text-align: center;
	margin-bottom: 10px;
}